<div>
    <div id="dash1" class="text-center"><br>
      <div><img id="tlogo" src="assets\logo.png"></div>
      <hr style="height:4px;color:rgb(11, 109, 221);">
      <div><label class="form-label" routerLink="/home-page"><img src="assets\home.png"> Home</label></div>
      <hr>
      <div><label class="form-label" routerLink="/expenses">Expenses</label></div>
      <hr>
      <div><label class="form-label" routerLink="/trips" >Trips</label></div>
      <hr>
      <div><label class="form-label" routerLink="/reports">Expenses Reports</label></div>
      <hr>
      <div><label class="form-label" routerLink="/advances">Advances</label></div>
      <hr>
      <div><label class="form-label" for="" routerLink="/settings"><img src="assets\settings.png"> Settings</label></div>
    
      <hr>
        <div style="margin-top: 55%;"><hr style="height:4px;color:rgb(52, 47, 53);"><label for="admin" class="form-label" routerLink="/admin">Admin</label></div>
    </div>
    <div id="dash2">
        <div id="createAdvance">
          <button class=" btn btn-success fs-5" data-bs-toggle="modal" data-bs-target="#requestAdvance">Request Advances</button>
        </div><br>
        <div class="text-center">
            <h1>No Advances to display </h1>
          </div>
        </div>
      </div>
      
  <!--requestAdvance Modal -->
<div class="modal fade" id="requestAdvance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Request Advances</h2>
        </div>
        <div class="modal-body">
            <form class="spaces">
                <div class="mb-2">
                  <label class="form-label">Name</label>
                  <input required type="text" class="form-control" formControlName="name">
                </div>
                <div class="mb-2">
                  <label class="form-label">Date</label>
                  <input  type="date" class="form-control" formControlName="date">
                </div>
                <div class="mb-2">
                  <label class="form-label" for="">Amount</label>
                  <input class="form-control">
                </div>
                <div class="mb-2">
                  <label class="form-label" for="">Currency</label>
                  <select class="form-control" name="" id="">
                    <option value="" hidden>$</option>
                    <option value="">INR</option>
                    <option value="">USD</option>
                    <option value="">AUD</option>
                  </select>
                </div>
                <div class="text-center">
                  <button class="btn btn-success" type="button">Save</button> &nbsp;
                  <button class="btn btn-success" type="button">Save & submit</button>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>