<div class="card">
    <div class="text-center">
        <h1>Forgot Password</h1>
        <small>please enter your valid email address.You will receive a link to create a new password via Email</small>
    </div><br>

    <form action="">
    <div class="text-center">
        <input placeholder="Your Email Id" type="email" class="form-control "><br>
    <button type="submit" class="btn btn-primary" routerLink="/successfull-reset-pwd">Reset My Password</button>&nbsp;
    <button type="submit" class="btn btn-danger" routerLink="/sign-in-page">Cancel</button>
</div>
</form>